@model IEnumerable<OnlineMobileRechargeSystem.Models.Provider>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <p class="h1" style="display:inline">Provider List</p>
    <a asp-action="Create" class="float-right btn btn-dark">Create New</a>
</p>
<table  class="table">
    <thead class="bg-dark text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProviderName)
            </th>
            <th>
                <a asp-controller="RechargeList" asp-action="Index" class="btn btn-primary float-right">Back</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderName)
            </td>
            <td >
                <a asp-action="Edit" class="ml-3 mr-3" asp-route-id="@item.Id">Edit</a>|
                <a asp-action="Details" class="ml-3 mr-3" asp-route-id="@item.Id">Details</a>|
                <a asp-action="Delete" class="ml-3 mr-3" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
